<?php

use $useClassName;

class $className extends $baseClassName
{
    /**
     * Note:
     * Migrations are split into constructive and destructive. They can be ran separately or all at once.
     * The idea is in a multi server environment 2 database states can be supported by different code bases
     * and when deployed iteratively one code base may need the old schema until the deployment is complete.
     */

    /**
     * Migrate Up.
     */

    public function constructiveUp()
    {

    }

    public function destructiveUp()
    {

    }

    /**
     * Migrate Down.
     */
    public function constructiveDown()
    {

    }

    public function destructiveDown()
    {
        
    }
}